{% extends 'base.html' %}
{% load static %}

{% block title %}Detalhe{% endblock %}

{% block header %}
   {% if post.background_image %}
      <header class="masthead" style="background-image: url({{post.background_image.url}})">
   {% else %}
      <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
   {% endif %}
         <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
               <div class="col-md-10 col-lg-8 col-xl-7">
                  <div class="site-heading">
                        <h1>{{post.title}}</h1>
                        <span class="subheading">{{post.subtitle}}</span>
                  </div>
               </div>
            </div>
         </div>
      </header>
{% endblock %}

{% block content %}
   <!--vídeo 3h37m-->
   <ul>
      {% for message in messages %}
         {% if message.tags %}
            <li>
               {{message}}
            </li>
         {% endif %}
      {% endfor %}
   </ul>

   <h1>{{post.title}}</h1>
   <p>{{post.content|safe}}</p> <!--6h59m-->

   {% if request.user.is_authenticated %}
      <div >  
         <a href="{% url 'post.delete' post.slug %}" class="btn btn-danger">Deletar &#128556;</a>
         <a href="{% url 'post.edit' post.slug  %}" class="btn btn-primary">Editar &#128513;</a>
      </div>
      <br>
   {% endif %}
   
{% endblock %}