{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
   <!--vídeo 3h37m-->
   <ul>
      {% for message in messages %}
         {% if message.tags %}
            <li>
               {{message}}
            </li>
         {% endif %}
      {% endfor %}
   </ul>

   {% for post in posts %}
      <div class="post-entry">
         <!--<h2><a href="{{ post.get_absolute_url }}">{{post.title}}</a></h2>-->
         <h2><a href="{% url 'post.detail' post.slug %}">{{post.title}}</a></h2>
         <p>{{post.content}}</p>
      </div>
   {% endfor %}
{% endblock %}