{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
   <!--vídeo 3h37m-->
   <ul>
      {% for message in messages %}
         {% if message.tags %}
            <li>
               {{message}}
            </li>
         {% endif %}
      {% endfor %}
   </ul>

   {% for post in posts %}
      <!-- Post preview-->
      <div class="post-preview">
         <a href="{% url 'post.detail' post.slug %}">
             <h2 class="post-title">{{post.title}}</h2>
             <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
         </a>
         <p class="post-meta">
             Posted by
             <a href="#!">Start Bootstrap</a>
             on September 24, 2022
         </p>
     </div>
     <!-- Divider-->
     <hr class="my-4" />

   {% endfor %}
   <!-- Pager-->
   <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
{% endblock %}